In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Importing Data
flights_data = pd.read_csv('data/flights.csv')
weather_data_pd = pd.read_csv('data/weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [6]:
flights_data.shape

(336776, 17)

In [7]:
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [16]:
#Question 1 How many flights were there from JFK to SLC? Int
flight_JKF_to_SLC = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')]
q_1 = flight_JKF_to_SLC.shape[0]
print(q_1)

2113

In [17]:
#Question 2 How many airlines fly to SLC? Should be int
flight_to_SLC = flights_data[flights_data['dest'] == 'SLC']
q_2 = flight_to_SLC.shape[0]
print(q_2)

2467

In [21]:
#Question 3 What is the average arrival delay for flights to RDU? float
flight_to_RDU = flights_data[flights_data['dest'] == 'RDU']
q_3 = flight_to_RDU['arr_delay'].mean()
print(q_3)

10.052380952380952

In [30]:
#Question 4 What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float
# to SEA
flight_to_SEA = flights_data[flights_data['dest'] == 'SEA']
# from NYC to SEA
flight_NYC_to_SEA = flight_to_SEA[(flight_to_SEA['origin'] == 'LGA') | (flight_to_SEA['origin'] == 'JFK')]
q_4 = flight_NYC_to_SEA.shape[0]/flight_to_SEA.shape[0]
print(q_4)

0.5332653581442773

In [53]:
#Question 5 Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)
flights_data['date'] = pd.to_datetime(flights_data[['year', 'month', 'day']]).dt.strftime('%Y/%-m/%-d')
df = flights_data[['date','dep_delay']]
daily_avg_delay = df.groupby('date')['dep_delay'].mean()
q_5 = daily_avg_delay.idxmax()
print(q_5,daily_avg_delay.max())

2013/3/8 83.5369211514393

In [54]:
#Question 6 Which date has the largest average arrival delay? pd slice with date and float
df = flights_data[['date','arr_delay']]
daily_avg_delay = df.groupby('date')['arr_delay'].mean()
q_6 = daily_avg_delay.idxmax()
print(q_6,daily_avg_delay.max())

2013/3/8 85.86215538847118

In [49]:
flights_data.head()

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute,date
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0,2013/1/1
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0,2013/1/1
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0,2013/1/1
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0,2013/1/1
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0,2013/1/1

In [62]:
#Question 7 Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime
flight_from_NYC = flights_data[(flights_data['origin'] == 'LGA') | (flights_data['origin'] == 'JFK')]
flight_from_NYC_2013 = flight_from_NYC[flight_from_NYC['year'] == 2013]
flight_from_NYC_2013['speed'] = flight_from_NYC_2013['distance']/flight_from_NYC_2013['air_time']
row = flight_from_NYC_2013.loc[flight_from_NYC_2013['speed'].idxmax()]
q_7 = row['tailnum']
print(q_7,row['speed'])

N666DN 11.723076923076922

In [65]:
#Question 8 Replace all nans in the weather pd dataframe with 0s. Pd with no nans
weather_data_pd = weather_data_pd.fillna(0)

In [71]:
#Question 9 How many observations were made in Feburary? Int
q_9 = np.sum(weather_data_np[:, 3] == 2)
print(q_9)

671

In [76]:
#Question 10 What was the mean for humidity in February? Float
weather_feb = weather_data_pd[weather_data_pd['month'] == 2]
q_10 = weather_feb['humid'].mean()
print(q_10)

62.918152011922515

In [77]:
#Question 11 What was the std for humidity in February? Float
q_11 = weather_feb['humid'].std()
print(q_11)

20.352072009682594